#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 > #backgroundBox {
  background-color: #F0F5F3;
  position: absolute;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 > #alignmentBox {
  position: relative;
  max-width: 440.0px;
  max-height: 956.0px;
  width: 100%;
  height: 100%;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 27.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 27.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Text_2 {
  position: absolute;
  width: 353.9999999999998px;
  min-height: 47.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Text_2 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_1 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_1 input::-moz-placeholder {
  color: #82888C;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_1 input:-moz-placeholder {
  color: #82888C;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_1 input:-ms-input-placeholder {
  color: #82888C;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_1 {
  position: absolute;
  width: 363.0092773437507px;
  height: 59.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_1 .valign {
  vertical-align: middle;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_1 > .backgroundLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_1 > .backgroundLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_2 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_2 input::-moz-placeholder {
  color: #82888C;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_2 input:-moz-placeholder {
  color: #82888C;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_2 input:-ms-input-placeholder {
  color: #82888C;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_2 {
  position: absolute;
  width: 363.0092773437507px;
  height: 59.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_2 .valign {
  vertical-align: middle;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_2 > .backgroundLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_2 > .backgroundLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Button_2 {
  position: absolute;
  width: 363.0092773437476px;
  min-height: 50.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #20AC76;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Button_2 > .borderLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Button_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Button_3 {
  position: absolute;
  width: 363.0092773437476px;
  min-height: 50.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Button_3 > .borderLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Button_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Button_3 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_3 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_3 input::-moz-placeholder {
  color: #82888C;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_3 input:-moz-placeholder {
  color: #82888C;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_3 input:-ms-input-placeholder {
  color: #82888C;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_3 {
  position: absolute;
  width: 363.0092773437507px;
  height: 59.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_3 .valign {
  vertical-align: middle;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_3 > .backgroundLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_3 > .backgroundLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_4 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_4 input::-moz-placeholder {
  color: #82888C;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_4 input:-moz-placeholder {
  color: #82888C;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_4 input:-ms-input-placeholder {
  color: #82888C;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_4 {
  position: absolute;
  width: 363.0092773437507px;
  height: 59.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_4 .valign {
  vertical-align: middle;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_4 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_4 > .backgroundLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_4 > .backgroundLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 #s-Input_text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-af1891dd-3e58-423d-8300-2a0bc5dab5f6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}