#s-073ae193-64be-4c77-8186-2e74d314f7bf > #backgroundBox {
  background-color: #F0F5F3;
  position: absolute;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf > #alignmentBox {
  position: relative;
  max-width: 440.0px;
  max-height: 956.0px;
  width: 100%;
  height: 100%;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_1 {
  position: absolute;
  width: 481.00000000000205px;
  min-height: 128.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_1 > .borderLayer {
  border-top-width: 2.0px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 2.0px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 2.0px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 2.0px;
  border-left-style: solid;
  border-left-color: #434343;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Path_1 {
  position: absolute;
  width: 21.4980206489563px;
  height: 18.815199725402604px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Path_2 {
  position: absolute;
  width: 21.23439073562622px;
  height: 16.7080397605896px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Path_3 {
  position: absolute;
  width: 18.184580326080322px;
  height: 18.184539794921875px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Path_4 {
  position: absolute;
  width: 15.459979057312012px;
  height: 16.426769733428955px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_1 {
  position: absolute;
  width: 57.99999999999977px;
  min-height: 24.999999999999773px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_1 span {
  color: #20AC76;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_1 span#rtr-s-Text_1_0 {
  color: #20AC76;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_2 {
  position: absolute;
  width: 70.99999999999977px;
  min-height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_2 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_2 span#rtr-s-Text_2_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_3 {
  position: absolute;
  width: 43.5258899927162px;
  min-height: 24.999999999999773px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_3 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_3 span#rtr-s-Text_3_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_4 {
  position: absolute;
  width: 57.99999999999977px;
  min-height: 24.999999999999773px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_4 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_4 span#rtr-s-Text_4_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_2 {
  position: absolute;
  width: 84.9902606010454px;
  min-height: 73.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_3 {
  position: absolute;
  width: 84.9902606010454px;
  min-height: 73.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_4 {
  position: absolute;
  width: 84.9902606010454px;
  min-height: 73.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_5 {
  position: absolute;
  width: 84.9902606010454px;
  min-height: 73.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_5 {
  position: absolute;
  width: 213.02588999271px;
  min-height: 58.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_5 span#rtr-s-Text_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Button_1 {
  position: absolute;
  width: 404.00000000000045px;
  min-height: 58.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #20AC76;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Button_1 > .borderLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Button_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Button_1 span#rtr-s-Button_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_6 {
  position: absolute;
  width: 404.00000000000045px;
  min-height: 190.0000000000002px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 24.0px;
  border-top-right-radius: 24.0px;
  border-bottom-right-radius: 24.0px;
  border-bottom-left-radius: 24.0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_6 > .borderLayer {
  border-top-left-radius: 24.0px;
  border-top-right-radius: 24.0px;
  border-bottom-right-radius: 24.0px;
  border-bottom-left-radius: 24.0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 24.0px;
  border-top-right-radius: 24.0px;
  border-bottom-right-radius: 24.0px;
  border-bottom-left-radius: 24.0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_6 {
  position: absolute;
  width: 114.71473725140231px;
  min-height: 38.999999999999915px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_6 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 600;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_6 span#rtr-s-Text_6_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 600;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Button_2 {
  position: absolute;
  width: 404.00000000000057px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Button_2 > .borderLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Button_2 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Button_2 span#rtr-s-Button_2_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Path_5 {
  position: absolute;
  width: 38.466081559659585px;
  height: 29.81590032577543px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_7 {
  position: absolute;
  width: 300.42711547016734px;
  min-height: 58.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 36.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_7 span#rtr-s-Text_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 36.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_8 {
  position: absolute;
  width: 322.8832586184142px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_8 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 600;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_8 span#rtr-s-Text_8_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 600;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_9 {
  position: absolute;
  width: 213.02588999270984px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_9 span#rtr-s-Text_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_7 {
  position: absolute;
  width: 404.00000000000045px;
  min-height: 87.00000000000011px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_7 > .backgroundLayer {
  border-top-left-radius: 24.0px;
  border-top-right-radius: 24.0px;
  border-bottom-right-radius: 24.0px;
  border-bottom-left-radius: 24.0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: rgba(183,238,207,0.13);
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #20AC76;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #20AC76;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #20AC76;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #20AC76;
  border-top-left-radius: 24.0px;
  border-top-right-radius: 24.0px;
  border-bottom-right-radius: 24.0px;
  border-bottom-left-radius: 24.0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_7 > .backgroundLayer {
  border-top-left-radius: 24.0px;
  border-top-right-radius: 24.0px;
  border-bottom-right-radius: 24.0px;
  border-bottom-left-radius: 24.0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Path_6 {
  position: absolute;
  width: 32.67414644360234px;
  height: 25.097589556094814px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_10 {
  position: absolute;
  width: 213.51294499635515px;
  min-height: 22.48119469026551px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 600;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_10 span#rtr-s-Text_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 600;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_11 {
  position: absolute;
  width: 322.8832586184142px;
  min-height: 21.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_11 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_11 span#rtr-s-Text_11_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Ellipse_1 {
  width: 35.0px;
  height: 34.00000000000006px;
  min-height: 34.00000000000006px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #20AC76;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Path_7 {
  position: absolute;
  width: 16.541912366284464px;
  height: 11.833327974936253px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_8 {
  position: absolute;
  width: 404.00000000000045px;
  min-height: 87.00000000000011px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_8 > .backgroundLayer {
  border-top-left-radius: 24.0px;
  border-top-right-radius: 24.0px;
  border-bottom-right-radius: 24.0px;
  border-bottom-left-radius: 24.0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #F0F5F3;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_8 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #666666;
  border-top-left-radius: 24.0px;
  border-top-right-radius: 24.0px;
  border-bottom-right-radius: 24.0px;
  border-bottom-left-radius: 24.0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_8 > .backgroundLayer {
  border-top-left-radius: 24.0px;
  border-top-right-radius: 24.0px;
  border-bottom-right-radius: 24.0px;
  border-bottom-left-radius: 24.0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_8 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Path_8 {
  position: absolute;
  width: 32.67414644360234px;
  height: 25.097589556094814px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_12 {
  position: absolute;
  width: 213.51294499635515px;
  min-height: 22.48119469026551px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 600;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_12 span#rtr-s-Text_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 600;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_13 {
  position: absolute;
  width: 322.8832586184142px;
  min-height: 21.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_13 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf #s-Text_13 span#rtr-s-Text_13_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 600;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-073ae193-64be-4c77-8186-2e74d314f7bf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}