#s-a6ab8b36-ad82-4979-850f-cfafaed5231f > #backgroundBox {
  background-color: #F0F5F3;
  position: absolute;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f > #alignmentBox {
  position: relative;
  max-width: 440.0px;
  max-height: 956.0px;
  width: 100%;
  height: 100%;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Rectangle_1 {
  position: absolute;
  width: 481.00000000000205px;
  min-height: 128.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Rectangle_1 > .borderLayer {
  border-top-width: 2.0px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 2.0px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 2.0px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 2.0px;
  border-left-style: solid;
  border-left-color: #434343;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Path_1 {
  position: absolute;
  width: 21.4980206489563px;
  height: 18.815199725402604px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Path_2 {
  position: absolute;
  width: 21.23439073562622px;
  height: 16.7080397605896px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Path_3 {
  position: absolute;
  width: 18.184580326080322px;
  height: 18.184539794921875px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Path_4 {
  position: absolute;
  width: 15.459979057312012px;
  height: 16.426769733428955px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_2 {
  position: absolute;
  width: 57.99999999999977px;
  min-height: 24.999999999999773px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_2 span {
  color: #20AC76;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_2 span#rtr-s-Text_2_0 {
  color: #20AC76;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_3 {
  position: absolute;
  width: 70.99999999999977px;
  min-height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_3 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_3 span#rtr-s-Text_3_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_4 {
  position: absolute;
  width: 43.5258899927162px;
  min-height: 24.999999999999773px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_4 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_4 span#rtr-s-Text_4_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_5 {
  position: absolute;
  width: 57.99999999999977px;
  min-height: 24.999999999999773px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_5 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_5 span#rtr-s-Text_5_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Rectangle_2 {
  position: absolute;
  width: 84.9902606010454px;
  min-height: 73.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Rectangle_3 {
  position: absolute;
  width: 84.9902606010454px;
  min-height: 73.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Rectangle_4 {
  position: absolute;
  width: 84.9902606010454px;
  min-height: 73.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Rectangle_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Rectangle_5 {
  position: absolute;
  width: 84.9902606010454px;
  min-height: 73.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Rectangle_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_6 {
  position: absolute;
  width: 172.02588999271006px;
  min-height: 29.999999999999943px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_6 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_6 span#rtr-s-Text_6_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Button_1 {
  position: absolute;
  width: 404.00000000000045px;
  min-height: 50.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #20AC76;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Button_1 > .borderLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Button_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Button_1 span#rtr-s-Button_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Rectangle_7 {
  position: absolute;
  width: 404.00000000000045px;
  min-height: 314.00000000000034px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Rectangle_7 > .backgroundLayer {
  border-top-left-radius: 24.0px;
  border-top-right-radius: 24.0px;
  border-bottom-right-radius: 24.0px;
  border-bottom-left-radius: 24.0px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Rectangle_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #20AC76;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #20AC76;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #20AC76;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #20AC76;
  border-top-left-radius: 24.0px;
  border-top-right-radius: 24.0px;
  border-bottom-right-radius: 24.0px;
  border-bottom-left-radius: 24.0px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Rectangle_7 > .backgroundLayer {
  border-top-left-radius: 24.0px;
  border-top-right-radius: 24.0px;
  border-bottom-right-radius: 24.0px;
  border-bottom-left-radius: 24.0px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Rectangle_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Rectangle_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_8 {
  position: absolute;
  width: 367.71473725140254px;
  min-height: 38.99999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_8 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_8 span#rtr-s-Text_8_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_9 {
  position: absolute;
  width: 325.9761987552009px;
  min-height: 120.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_9 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Text_9 span#rtr-s-Text_9_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Button_2 {
  position: absolute;
  width: 404.00000000000045px;
  min-height: 49.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: rgba(255,193,7,0.13);
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Button_2 > .borderLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Button_2 span {
  color: #FD9727;
  text-align: center;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FD9727;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Path_7 {
  position: absolute;
  width: 17.103559970855713px;
  height: 18.44822072982788px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Button_3 {
  position: absolute;
  width: 404.00000000000057px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Button_3 > .borderLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Button_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Button_3 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Button_3 span#rtr-s-Button_3_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Path_8 {
  position: absolute;
  width: 38.466081559659585px;
  height: 29.81590032577543px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Input_text_1 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Input_text_1 input::-moz-placeholder {
  color: #82888C;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Input_text_1 input:-moz-placeholder {
  color: #82888C;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Input_text_1 input:-ms-input-placeholder {
  color: #82888C;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Input_text_1 {
  position: absolute;
  width: 232.74590355157804px;
  height: 105.99999999999989px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Input_text_1 .valign {
  vertical-align: middle;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Input_text_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Input_text_1 > .backgroundLayer {
  border-top-left-radius: 30.0px;
  border-top-right-radius: 30.0px;
  border-bottom-right-radius: 30.0px;
  border-bottom-left-radius: 30.0px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Input_text_1 > .backgroundLayer > .colorLayer {
  background-color: #F0F5F3;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Input_text_1 > .borderLayer {
  border-top-left-radius: 30.0px;
  border-top-right-radius: 30.0px;
  border-bottom-right-radius: 30.0px;
  border-bottom-left-radius: 30.0px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Input_text_1 > .backgroundLayer {
  border-top-left-radius: 30.0px;
  border-top-right-radius: 30.0px;
  border-bottom-right-radius: 30.0px;
  border-bottom-left-radius: 30.0px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Input_text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f #s-Line_1 {
  position: absolute;
  width: 161.0px;
  height: 2.0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a6ab8b36-ad82-4979-850f-cfafaed5231f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}