@font-face {
  font-family: "Inter_20.0.0_google";
  src: url("../../../fonts/Inter-Semibold_20.0.0_google.ttf");
  font-weight: 600; 
  font-display: swap;
}
@font-face {
  font-family: "Inter_20.0.0_google";
  src: url("../../../fonts/Inter-Bold_20.0.0_google.ttf");
  font-weight: 700; 
  font-display: swap;
}
@font-face {
  font-family: "Roboto_32.0.0_google";
  src: url("../../../fonts/Roboto-Regular_32.0.0_google.ttf");
  font-weight: 400; 
  font-display: swap;
}