#s-3347ff7f-0fec-4de4-9719-5711f19aaecf > #backgroundBox {
  background-color: #F0F5F3;
  position: absolute;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf > #alignmentBox {
  position: relative;
  max-width: 440.0px;
  max-height: 956.0px;
  width: 100%;
  height: 100%;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_1 {
  position: absolute;
  width: 400.0px;
  min-height: 66.0px;
  opacity: 0.7;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_32.0.0_google',Arial;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 25.0px;
  border-top-right-radius: 25.0px;
  border-bottom-right-radius: 25.0px;
  border-bottom-left-radius: 25.0px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: rgba(237,239,239,0.8);
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_1 > .borderLayer {
  border-top-left-radius: 25.0px;
  border-top-right-radius: 25.0px;
  border-bottom-right-radius: 25.0px;
  border-bottom-left-radius: 25.0px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 25.0px;
  border-top-right-radius: 25.0px;
  border-bottom-right-radius: 25.0px;
  border-bottom-left-radius: 25.0px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_1 .paddingLayer {
  padding-top: 20px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_1 span {
  color: #F8F8F8;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto_32.0.0_google',Arial;
  font-size: 12.75pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #F8F8F8;
  text-decoration: none;
  font-family: 'Roboto_32.0.0_google',Arial;
  font-size: 12.75pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Paragraph_1 {
  position: absolute;
  width: 142.0px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_32.0.0_google',Arial;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_32.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 500;
  text-transform: none;
  line-height: 17px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto_32.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 500;
  text-transform: none;
  line-height: 17px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_32.0.0_google',Arial;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_32.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 300;
  text-transform: none;
  line-height: 17px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto_32.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 300;
  text-transform: none;
  line-height: 17px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Ellipse_1 {
  width: 40.25531914893611px;
  height: 40.25531914893622px;
  min-height: 40.25531914893622px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #shapewrapper-s-Ellipse_1 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../../images/0d8e1936-ea03-4c63-92ba-3decf754e157.png');
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_2 {
  position: absolute;
  width: 16.468085106383114px;
  min-height: 16.468085106383px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_2 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 1.0;
  background-image: url('../../../images/060ab712-7eae-40f7-9616-c56519cdbd34.png');
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_2 > .borderLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_32.0.0_google',Arial;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: right;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Paragraph_3 span {
  color: rgba(60,60,67,0.8);
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto_32.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 300;
  text-transform: none;
  line-height: 17px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: rgba(60,60,67,0.8);
  text-decoration: none;
  font-family: 'Roboto_32.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 300;
  text-transform: none;
  line-height: 17px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_3 {
  position: absolute;
  width: 400.0px;
  min-height: 94.0px;
  opacity: 0.7;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_32.0.0_google',Arial;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 25.0px;
  border-top-right-radius: 25.0px;
  border-bottom-right-radius: 25.0px;
  border-bottom-left-radius: 25.0px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: rgba(237,239,239,0.8);
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_3 > .borderLayer {
  border-top-left-radius: 25.0px;
  border-top-right-radius: 25.0px;
  border-bottom-right-radius: 25.0px;
  border-bottom-left-radius: 25.0px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 25.0px;
  border-top-right-radius: 25.0px;
  border-bottom-right-radius: 25.0px;
  border-bottom-left-radius: 25.0px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_3 .paddingLayer {
  padding-top: 20px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_3 .valign {
  vertical-align: top;
  text-align: center;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_3 span {
  color: #F8F8F8;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto_32.0.0_google',Arial;
  font-size: 12.75pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #F8F8F8;
  text-decoration: none;
  font-family: 'Roboto_32.0.0_google',Arial;
  font-size: 12.75pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Paragraph_4 {
  position: absolute;
  width: 142.0px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_32.0.0_google',Arial;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_32.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 500;
  text-transform: none;
  line-height: 17px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto_32.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 500;
  text-transform: none;
  line-height: 17px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Paragraph_5 {
  position: absolute;
  width: 268.1533348343336px;
  min-height: 51.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_32.0.0_google',Arial;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_32.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 300;
  text-transform: none;
  line-height: 17px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto_32.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 300;
  text-transform: none;
  line-height: 17px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_4 {
  position: absolute;
  width: 38.0px;
  min-height: 38.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #8E8E93;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_4 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../../images/14ebd87d-4846-4513-aa00-de82026fa00f.png');
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_4 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_5 {
  position: absolute;
  width: 28.000000000000007px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #C3C7CA;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_5 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../../images/9c764457-ab66-4a02-8892-11c2d8295d79.png');
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_5 > .borderLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_32.0.0_google',Arial;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: right;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Paragraph_6 span {
  color: rgba(60,60,67,0.8);
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto_32.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 300;
  text-transform: none;
  line-height: 17px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: rgba(60,60,67,0.8);
  text-decoration: none;
  font-family: 'Roboto_32.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 300;
  text-transform: none;
  line-height: 17px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Text_1 {
  position: absolute;
  width: 330.5080752968787px;
  min-height: 58.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Path_1 {
  position: absolute;
  width: 38.466081559659585px;
  height: 29.81590032577543px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_6 {
  position: absolute;
  width: 481.00000000000205px;
  min-height: 128.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_6 > .borderLayer {
  border-top-width: 2.0px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 2.0px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 2.0px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 2.0px;
  border-left-style: solid;
  border-left-color: #434343;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Path_2 {
  position: absolute;
  width: 21.4980206489563px;
  height: 18.815199725402604px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Path_3 {
  position: absolute;
  width: 21.23439073562622px;
  height: 16.7080397605896px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Path_4 {
  position: absolute;
  width: 18.184580326080322px;
  height: 18.184539794921875px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Path_5 {
  position: absolute;
  width: 15.459979057312012px;
  height: 16.426769733428955px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Text_2 {
  position: absolute;
  width: 57.99999999999977px;
  min-height: 24.999999999999773px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Text_2 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Text_2 span#rtr-s-Text_2_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Text_3 {
  position: absolute;
  width: 70.99999999999977px;
  min-height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Text_3 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Text_3 span#rtr-s-Text_3_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Text_4 {
  position: absolute;
  width: 43.5258899927162px;
  min-height: 24.999999999999773px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Text_4 span {
  color: #20AC76;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Text_4 span#rtr-s-Text_4_0 {
  color: #20AC76;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Text_5 {
  position: absolute;
  width: 57.99999999999977px;
  min-height: 24.999999999999773px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Text_5 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Text_5 span#rtr-s-Text_5_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_7 {
  position: absolute;
  width: 84.9902606010454px;
  min-height: 73.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_8 {
  position: absolute;
  width: 84.9902606010454px;
  min-height: 73.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_8 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_9 {
  position: absolute;
  width: 84.9902606010454px;
  min-height: 73.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_9 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_10 {
  position: absolute;
  width: 84.9902606010454px;
  min-height: 73.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_10 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-3347ff7f-0fec-4de4-9719-5711f19aaecf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}